@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Satoshi', sans-serif;
  background-color: #fef6e4;
}

.center-width {
  width: min(48rem, 100% - 4rem);
}

.title {
  font-family: 'Literata', serif;
}
